NEXT_PUBLIC_OG_NETWORK=galileo
NEXT_PUBLIC_OG_CHAIN_ID=16602
NEXT_PUBLIC_OG_RPC_URL=https://evmrpc-testnet.0g.ai
NEXT_PUBLIC_OG_EXPLORER_URL=https://chainscan-galileo.0g.ai
NEXT_PUBLIC_OG_STORAGE_INDEXER_RPC=https://indexer-storage-testnet-turbo.0g.ai
NEXT_PUBLIC_AGENT_ID_CONTRACT_ADDRESS=0x833D1bBF1e30894cB20BF228485a43a22FCC3E2D

OG_RPC_URL=https://evmrpc-testnet.0g.ai
PRIVATE_KEY=
ERC7857_VERIFIER_ADDRESS=0x540dd6496FF29780458Da1bAb487C62F473525BF
ERC7857_TEE_ORACLE_ADDRESS=
OG_STORAGE_INDEXER_RPC=https://indexer-storage-testnet-turbo.0g.ai
